p {
    color: rgb(78, 129, 78);
    font-size: 18px;
}

h4 {
    color: rgb(104, 160, 104)
}

* {
    margin: 0;
    padding: 3;

}

.fundo {
    background-image: linear-gradient(45deg red, white);
}

.calculadora1 {
    color: linear-gradient(45deg aquamarine, white)

}

.button {
    background-color: violet;
}