html,
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, violet, black);
    text-align: center;
    color: black;
}

* {
    margin: 0;
    padding: 4px;

}


h4 {
    color: black;
}

.fundo {
    position: absolute;
    background-color: rgb(70, 62, 62);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
}

button {
    width: 50px;
    font-size: 25px;
    border-radius: 25px;
    border: none;
    background-color: gray;
}

button:hover {
    background-color: rgb(61, 61, 61);
}

.tela {
    background-color: white;
    height: 30px;
    color: black;
    font-size: 25px;
    text-align: end;
    margin: 3px;
}